.float-delay-1 { animation-delay: 1s !important; }
.float-delay-2 { animation-delay: 2s !important; }
.float-delay-3 { animation-delay: 3s !important; }
.float-delay-4 { animation-delay: 4s !important; }
.float-delay-5 { animation-delay: 5s !important; }