.po-c-navbar__scrolled {
    backdrop-filter: blur(6px) !important;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1) !important;
    opacity: 0.9 !important;
    background-color: transparent !important;

    &:hover {
        opacity: 1 !important;
    }
}