.card {
    width: 325px;
    height: 280px;
    margin: 5px 10px 5px 10px;
}

.git {
    width: 40px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba($color: white, $alpha: 0.3);

    opacity: 0;
    transition: opacity 0.3s ease;

    cursor: pointer;
}
