
<div class="about mx-auto rounded p-1" data-bs-theme="dark">
    <h1 class="text-dark d-flex flex-column align-items-center mb-5">About Me</h1>
    <ul class="nav nav-tabs justify-content-center bg-secondary-subtle" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active text-success-emphasis" data-bs-toggle="tab" href="#me" aria-selected="true" role="tab">About me</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link text-success-emphasis" data-bs-toggle="tab" href="#profile" aria-selected="false" role="tab"
                tabindex="-1">Profile</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link text-success-emphasis" data-bs-toggle="tab" href="#backend" aria-selected="false" role="tab"
                tabindex="-2">Back-end</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade active show" id="me" role="tabpanel">
            <p class="h5">I'm someone who’s always curious and eager to grow. I enjoy spending 
                time learning new things, whether it's a framework, a new technology, or a better way 
                to solve a problem. Learning is part of my daily routine and something that drives 
                me forward.
            </p>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel">
            <p class="h5">
                I'm a proactive and adaptable developer with a strong drive to learn and 
                improve continuously. I thrive in dynamic environments, quickly grasp 
                new concepts, and consistently seek efficient solutions. I enjoy collaborating 
                with others and take pride in contributing 
                to clean, scalable, and meaningful software.
            </p>
        </div>
        <div class="tab-pane fade" id="backend" role="tabpanel">
            <p class="h5">
                I'm a backend-focused developer who primarily works with Java and Spring Boot 
                to build scalable and efficient microservices. I work with tools like Spring Cloud and RabbitMQ. In addition, 
                I also have knowledge of C# and ASP.NET. I’m always looking to expand my skill set, improve code quality, 
                and contribute to clean, maintainable solutions.
            </p>
        </div>
    </div>
    <div>
        
    </div>
</div>