.about {
    clear: both;
    width: 100%;
    height: auto;

    @media (min-width: 768px) {
        width: 55%;
    }
}

.glow-text {
  color: red;
  text-shadow: 0 0 10px red, 0 0 20px red;
}

.card-item {
    width: 100% !important;

    @media (min-width: 768px) {
        width: 45% !important;
    }
}