<div class="about mx-auto rounded p-1" data-bs-theme="dark">
    <h1 class="text-center mb-5 mt-5 text-glow-light" appImgFloat>About Me</h1>
    <ul class="nav nav-tabs justify-content-center bg-secondary-subtle" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active text-purple" data-bs-toggle="tab" href="#me" aria-selected="true"
                role="tab">About me</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link text-purple" data-bs-toggle="tab" href="#backend" aria-selected="false"
                role="tab" tabindex="-2">Back End</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link text-purple" data-bs-toggle="tab" href="#frontend" aria-selected="false"
                role="tab" tabindex="-2">Front End</a>
        </li>
    </ul>
    <div class="tab-content bg-gray">
        <div class="tab-pane fade active show text-black-50" id="me" role="tabpanel">
            <p class="h5 text-light">
                I'm someone who’s always curious and eager to
                grow. I enjoy learning new things every day, whether it's a
                <span class="text-danger">framework</span>, a <span class="text-purple">technology</span>, or a more
                <span class="text-danger">efficient solution</span> to a problem.
                <span class="text-purple">Continuous learning</span> is part of my routine and a key factor that
                <span class="text-danger">drives me forward</span>. I'm passionate about software development
            </p>
        </div>
        <div class="tab-pane fade text-black-50" id="backend" role="tabpanel">
            <p class="h5 text-light">
                I'm a backend-focused developer who works with
                <span class="text-purple">Java</span> and <span class="text-primary">Spring Boot</span>
                to build scalable and efficient <span class="text-danger">Microservices</span>. I work with tools like
                <span class="text-purple">Spring Cloud</span> and <span class="text-danger">RabbitMQ</span>.
                In addition, I also have knowledge of <span class="text-purple">C#</span> and 
                ASP.NET I’m always looking to expand my skill set, improve code
                quality to contribute to clean and maintainable solutions.
            </p>
        </div>
        <div class="tab-pane fade text-black-50" id="frontend" role="tabpanel">
            <p class="h5 text-light">
                As a frontend developer, I work with <span class="text-danger">Angular</span> to build complete dynamic and responsive
                single-page applications. I also use component libraries like
                <span class="text-danger">Angular Material</span> to create modern and accessible user
                interfaces,
                and rely on <span class="text-purple">Bootstrap</span> for responsive design and layout consistency.
                In addition, I also started learning React.
            </p>
        </div>
    </div>
</div>
<div class="container-fluid mt-5">
    <div class="d-flex w-100 flex-column flex-md-row g-0">
        <div class="card card-item bg-white my-3 text-black mx-auto">
            <div class="card-header d-flex justify-content-between bg-gray-emphasis text-light">
                <span>Academic Background</span>
                <span>2025 – 2029</span>
            </div>
            <div class="card-body bg-gray text-light">
                <h4 class="card-title">Software Engineering - UNC</h4>
                <p class="card-text">
                    Currently pursuing a degree in Software Engineering at <span class="text-danger">UNC</span>,
                    focused on <span class="text-info">software development</span>, systems architecture,
                    and modern programming practices.
                </p>
            </div>
        </div>

        <div class="card card-item bg-white my-3 text-black mx-auto">
            <div class="card-header d-flex justify-content-between bg-gray-emphasis text-light">
                <span>Academic Background</span>
                <span>2019 – 2024</span>
            </div>
            <div class="card-body bg-gray text-light">
                <h4 class="card-title">English - FISK</h4>
                <p class="card-text">
                    Completed an English course at <span class="text-danger">Fisk</span>, covering grammar, conversation, reading, 
                    and writing. I have a <span class="text-info">strong command of English</span> and feel confident 
                    communicating both in professional and everyday contexts.
                </p>
            </div>
        </div>
    </div>
</div>