<div>
    <nav class="navbar navbar-expand-sm navbar-light bg-dark" appScroll scrollObservable>
        <div class="container-fluid d-flex">
            <div class="collapse navbar-collapse" id="navbarID">
                <div class="navbar-nav">
                    <a class="nav-link" aria-current="page" href="#home">Home</a>
                    <a class="nav-link" aria-current="page" href="#about">About Me</a>
                    <a class="nav-link" aria-current="page" href="#skills">Skills</a>
                    <a class="nav-link" aria-current="page" href="#projects">Projects</a>
                </div>
            </div>

            <a href="https://www.linkedin.com/in/dionclei-de-souza-pereira-07287726b/" class="align-self-end h2 link-secondary">Dionclei de Souza Pereira</a>
        </div>
    </nav>
</div>