/* Certifique-se de que o body e html ocupem toda a altura */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container-main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  width: 100%;
}

.content {
  position: relative;
  top: 55px;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;

  &__item {
    width: 100%;
    clear: both;
    box-sizing: border-box;
    padding: 16px;
  }
}