<div class="container-main">
    <div class="header mb-3">
        <app-navbar></app-navbar>
    </div>
    <div>
        <div class="content__item">
            <section id="home">
                <app-home></app-home>
            </section>
        </div>
        <div class="content__item bg-success" appShow>
            <section id="about">
                <app-about></app-about>
            </section>
        </div>
        <div class="content__item" appShow>
            <section id="skills">
                <app-skills></app-skills>
            </section>
        </div>
        <div class="content__item" appShow>
            <section id="projects">
                <app-projects></app-projects>
            </section>
        </div>
        <div class="content__item" appShow>
            <section id="terminal">
                <app-terminal (gameEmmiter)="togglePlaying()"></app-terminal>
            </section>
        </div>
        <div class="content__item mt-5" appShow>
            <section id="contact">
                <app-contact></app-contact>
            </section>
        </div>
    </div>
</div>

<ng-container *ngIf="isPlaying">
    <app-game (closeEmmiter)="togglePlaying()"></app-game>
</ng-container>
