<div class="container-main bg-stars">
  <div class="header mb-3">
    <app-navbar></app-navbar>
  </div>

  <section id="home">
    <div class="content__item">
      <app-home></app-home>
    </div>
  </section>

  <section id="about" appShow>
    <div class="content__item">
      <app-about></app-about>
    </div>
  </section>

  <section id="skills" appShow>
    <div class="content__item">
      <app-skills></app-skills>
    </div>
  </section>

  <section id="projects" appShow>
    <div class="content__item">
      <app-projects></app-projects>
    </div>
  </section>

  <section id="terminal" appShow>
    <div class="content__item">
      <app-terminal (gameEmmiter)="togglePlaying()"></app-terminal>
    </div>
  </section>

  <section id="contact" class="mt-5" appShow>
    <div class="content__item">
      <app-contact></app-contact>
    </div>
  </section>
</div>

<ng-container *ngIf="isPlaying">
    <app-game (closeEmmiter)="togglePlaying()"></app-game>
</ng-container>
