html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  width: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
  outline: 1px solid red;
}

section, .content__item {
  max-width: 100%;
  overflow-x: hidden;
}

.container-main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  width: 100%;
}

section {
  scroll-margin-top: 80px;
}

.content {
  position: relative;
  top: 55px;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;

  &__item {
    width: 100%;
    clear: both;
    box-sizing: border-box;
    padding: 16px;

    transition: opacity 0.5s ease, transform 1s ease, filter 1s ease;
  }
}