@keyframes float {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(5px, -10px);
    }

    50% {
        transform: translate(0, -20px);
    }

    75% {
        transform: translate(-5px, -10px);
    }

    100% {
        transform: translate(0, 0);
    }
}

.img {
    margin: 50px;
    width: 120px;
    animation: float 3s ease-in-out infinite;
    transition: all 0.5s ease-in-out;

    &:hover {
        width: 155px;
    }

    &:active {
        width: 180px;
    }

    .float-delay-1 {
        animation-delay: 0s;
    }

    .float-delay-2 {
        animation-delay: 0.5s;
    }

    .float-delay-3 {
        animation-delay: 1s;
    }

    .float-delay-4 {
        animation-delay: 1.5s;
    }

    .float-delay-5 {
        animation-delay: 2s;
    }
}