<h1 class="text-success text-center mt-4">Hard Skills</h1>
<div class="container m-5 d-flex overflow-x-auto justify-content-center">
    <ng-container *ngFor="let img of images; let i = index">
        <app-floating-image [delay]="i + ''" [src]="`assets/images/${img}.png`"></app-floating-image>
    </ng-container>
</div>
<h1 class="text-success text-center my-5">Soft Skills</h1>      
<div class="soft-skills mt-auto d-flex flex-wrap justify-content-center">
    <div class="toast show mb-2 bg-success text-white" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg-dark text-white">
            <strong class="me-auto">Teamwork</strong>
        </div>
        <div class="toast-body text-dark">
            I collaborate effectively with others to achieve shared goals and support a positive team environment.
        </div>
    </div>
    <div class="toast show mb-2 bg-info text-white" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg-dark text-white">
            <strong class="me-auto">Communication</strong>
        </div>
        <div class="toast-body text-dark">
            I communicate clearly and professionally, whether in writing or speaking, adapting to different audiences.
        </div>
    </div>
    <div class="toast show mb-2 bg-danger text-white" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg-dark text-white">
            <strong class="me-auto">Problem-Solving</strong>
        </div>
        <div class="toast-body text-dark">
            I approach challenges logically and creatively to find effective and efficient solutions.
        </div>
    </div>
    <div class="toast show mb-2 bg-warning text-dark" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg-dark text-white">
            <strong class="me-auto">Proactive</strong>
        </div>
        <div class="toast-body text-dark">
            I take initiative and act without waiting for instructions, always seeking opportunities to add value.
        </div>
    </div>
    <div class="toast show mb-2 bg-secondary text-white" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg-dark text-white">
            <strong class="me-auto">Adaptability</strong>
        </div>
        <div class="toast-body text-dark">
            I stay flexible and open to change, quickly adjusting to new environments and technologies.
        </div>
    </div>
    <div class="toast show mb-2 bg-primary text-white" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg-dark text-white">
            <strong class="me-auto">Time Management</strong>
        </div>
        <div class="toast-body text-dark">
            I organize tasks efficiently and prioritize deadlines to ensure timely delivery of high-quality work.
        </div>
    </div>
</div>