.terminal {
    background-color: #0d0d0d;
    color: mediumpurple;

    font-family: 'Courier New', monospace;

    padding: 25px;
    border-radius: 10px;

    height: 400px;
    width: 80%;

    padding-top: 10px;

    margin: auto;

    overflow-y: auto;
    box-shadow: 0 0 15px mediumpurple;
}

.input-line {
    display: flex;
    align-items: center;

    span {
        margin-right: 10px;
    }

    input {
        background: none;
        border: none;

        color: rgb(161, 129, 226);
        outline: none;

        width: 100%;
    }
}